<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!--for-mobile-apps-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="js/angular.js"></script>
		<script src="js/module.js"></script>
		<script src="js/ngscrollbar.js"></script>
		<script src="js/maindata.js"></script>
		<script src="js/main.controller.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="ngDialog-master/ngDialog-master/css/ngDialog.min.css">
		<link rel="stylesheet" href="ngDialog-master/ngDialog-master/css/ngDialog-custom-width.css">
		<link rel="stylesheet" href="ngDialog-master/ngDialog-master/css/ngDialog-theme-default.min.css">
		<link rel="stylesheet" href="ngDialog-master/ngDialog-master/css/ngDialog-theme-plain.min.css">
    <script src="js/jquery.min.js">			</script>
		<script src="ngDialog-master/ngDialog-master/js/ngDialog.js"></script>
   	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},2000);
            });
						$("#navbtns").find("p").each(function(){
							$(this).mouseover(function(){
								$(this).css('background-position','right bottom');
							});
							$(this).mouseout(function(){
								$(this).css('background-position','left bottom');
							});
						});
        });
    </script>
<link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
</head>

<body ng-controller="MainCtrl" ng-app="app">

<div class="header">

		<div class="nav">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						   <a class="navbar-brand" href="#"><img src="./images/logo2.png" alt="logo" width="150" height="60"></a>
						</div>

				<!-- Collect the nav links, forms, and other content for toggling -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home" class="active scroll">首页</a></li>
							<li><a href="#catalog" class="scroll">章节</a></li>
							<li><a href="#story" class="scroll">故事</a></li>
							<li><a href="#orgs" class="scroll">组织</a></li>
							<li><a href="#persons" class="scroll">英雄</a></li>
							<li><a href="#races" class="scroll">种族</a></li>
							<li><a href="#contact" class="scroll">关于</a></li>
						</ul>

					</div><!-- navbar-collapse -->
				</div><!-- container -->
			</nav>
		</div> <!-- Nav Ends -->

		<div class="banner" id="home">
			<div class="container">
				<div class="banner-content">
					<h1>WOW</H1>
					<h2>魔兽世界正史 </h2>
					<p>《魔兽世界》（World of Warcraft）是由著名游戏公司暴雪娱乐所制作的第一款网络游戏，属于大型多人在线角色扮演游戏。
						游戏以该公司出品的即时战略游戏《魔兽争霸》的剧情为历史背景，依托魔兽争霸的历史事件和英雄人物，魔兽世界有着完整的历史背景时间线。玩家在魔兽世界中冒险、完成任务、新的历险、探索未知的世界、征服怪物等。</p>
				</div>
			</div>
		</div> <!-- Banner Ends Here -->
</div> <!-- Header Ends -->


<div class="about" id="catalog">
	<div class="container">

		<h3> 章节 <span>故事线</span> </h3>
		<h4>故事线按照魔兽世界官方小说展开，故事完全符合原著。
		</h4>

		<div class="about-image">
			<div class="col-md-4 about-size animated fadeInRight" ng-repeat="s in datas.story.storys | filter:{parent:0}" ng-if="currentSection==0">
				<div class="shadow">
					<img ng-src="./images/{{s.img}}" alt="image" width="600" height="262" style="cursor:pointer;" ng-click="chooseSection(s)">
				</div>
				<h5>{{s.name}}</h5>
			</div>

			<div class="col-md-4 about-size animated fadeInRight" ng-repeat="s in datas.story.storys |filter:{parent:currentSection}" ng-if="currentSection!=0">
				<div class="shadow">
					<a href="#story" class="scroll"><img ng-src="./images/{{s.img}}" alt="image" width="600" height="262" style="cursor:pointer;" ng-click="chooseStory(s)"></a>
				</div>
				<h5>{{s.name}}</h5>
				<p>{{s.intro}}</p>
			</div>
			<div class="col-md-4 about-size animated fadeInRight" ng-if="currentSection!=0">
				<div class="shadow">
					<img ng-src="./images/back.jpg" alt="image" width="600" height="262" style="cursor:pointer;" ng-click="goback()">
				</div>
				<h5>回到上级</h5>
			</div>
		  <div class="clearfix"> </div>
		</div>  <!-- About-image Ends  -->

	</div> <!-- Container ends -->
</div> <!-- About Ends -->



<div class="upcoming" id="story">
	<div class="container">
		<div class="padding-upcoming">

			<h3>故事内容<span> Story </span> </h3>

			<div class="background" style="color:white;padding-top:80px;padding-bottom:80px;">
				<div class="col-md-8 col-sm-8 col-xs-8">
						<h3>{{currentStory.name}}</h3>
						<div style="text-indent:2em;text-align:left;" ng-bind-html="currentStory.content | to_trusted"></div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4" id="navbtns">
						<a href="#persons" class="scroll"><p class="navbtn">英雄({{currentStory.persons.length}})</p></a>
						<a href="#races" class="scroll"><p class="navbtn">种族({{currentStory.races.length}})</p></a>
						<a href="#orgs" class="scroll"><p class="navbtn">组织({{currentStory.orgs.length}})</p></a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>

<div class="requirement" id="orgs"> <!-- Requirements Starts   -->
	<div class="container">
		<div class="all-require">

				<div class="heading">
					<h3>组织 <span>  Orgs</span> </h3>
				</div>

				<div class="specification">

					<div class="col-md-4 require-size" ng-repeat="o in currentStory.orgs">
						<div class="grid">
							<i class="ps"> </i>
							<p> 组织编号 : <span>{{o.id}} </span> </p>
							<p>	组织名称 : <span>{{o.name}} </span>	</p>
							<p>	头领 : <span>{{o.leader}}	</span> </p>
							<p>	介绍 : <span>{{o.intro}}	</span> </p>
						</div>
					</div>

				  <div class="clearfix"> </div>
				</div>	<!-- Specification Ends here   -->
		</div>
	  </div>
	</div> <!-- requirement Ends -->



	<script type="text/ng-template" id="appformWarning">
		<h3 class="text-center">{{ngDialogData.name}}</h3>
		<h4> 称号：{{ ngDialogData.title}} </h4>
			<h4> 组织-种族：{{ ngDialogData.org.name||ngDialogData.org}}-{{ ngDialogData.race.name||ngDialogData.race}}</h4>
			<div style="background:url('./images/dialogbg.jpg') center center no-repeat; padding:40px 30px;" >
				<div style="height:220px;overflow:auto;" ng-scrollbar>
		      <p style="padding-left:5px;color:yellow;text-indent:2em;text-align:left;">{{ngDialogData.intro}}</p>
				</div>
		</div>
	</script>


<div class="our-team">
	<div class="container">
		<div class="team" id="persons">
		  <h3>英雄&Hero </h3>
			<div class="team-up">
				<div class="col-md-3 team-size" ng-repeat="p in currentStory.persons">
					<div class="team-img">
						<img ng-src="./images/person{{p.id}}.jpg" alt="image" ng-click="persondetail(p)" style="cursor:pointer;" width="255" height="196">
						<h4>{{p.name}}</h4>
						<p>{{p.title}}</p>
					</div>
				</div>
			</div>

		  <div class="clearfix"></div>
		</div> <!-- Team Ends -->
    </div>
</div> <!-- Our-team Ends -->

<div class="races" id="races"> <!-- Requirements Starts   -->
	<div class="container">
		<div class="all-require">

				<div class="heading">
					<h3>种族 <span>  Races</span> </h3>
				</div>

				<div class="specification">
					<div class="col-md-4 require-size" ng-repeat="r in currentStory.races">
						<div class="grid">
							<i class="ps"> </i>
							<p> 种族编号 : <span>{{r.id}} </span> </p>
							<p>	种族名称 : <span>{{r.name}} </span>	</p>
							<p>	种族属性 : <span>{{r.attr}}	</span> </p>
							<p>	来自 : <span>{{r.from.name || r.from}}	</span> </p>
							<p>	介绍 : <span>{{r.intro}}	</span> </p>
						</div>
					</div>

				  <div class="clearfix"> </div>
				</div>	<!-- Specification Ends here   -->
		</div>
	  </div>
	</div> <!-- requirement Ends -->

    </div>
</div> <!-- Our-team Ends -->



<div class="contact" id="contact">
  <div class="container">
	<div class="padding-contact">

		<div class="col-md-4 address">
		  <h3>详情</h3>
			<address>
				文案策划:丿爻丨埋葬<br>
				网页制作：丿爻丨花满楼<br>
				会长：丿爻丨小花<br>
			</address>
		</div>

		<div class="col-md-4 social-icons">
		  <h3>内容来源</h3>
			<ul class="social">
				<li style="color:white;">艾泽拉斯国家地理论坛-帖子: xxxxxx</li>
			</ul>
		</div>

		<div class="col-md-4 newsletter">
		  <h3>模板来自</h3>
            <ul class="social">
				<li style="color:white;">http://sc.chinaz.com/moban/</li>
			</ul>
		</div>
	  <div class="clearfix"></div>
	</div>

		<div class="footer">
			<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
  </div>
</div>

</body>
</html>
